.otpVerification_Container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //   padding: 48px 40px 36px 40px;
  .sub_Container {
    width: 448px;
    height: 650px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner_Container {
      width: 434px;
      height: 500px;
      //   border: 0.5px solid lightgray;
      box-sizing: border-box;
      .google_Header {
        height: 10%;
        width: 100%;
        // border: 0.5px solid lightgray;
        box-sizing: border-box;
        font-weight: 500;
        line-height: 20.0004px;
        letter-spacing: -1px;

        .G {
          color: #4385f5;
          font-size: 25px;
          line-height: 20px;
        }

        .o1 {
          padding-top: 3px;
          font-size: 23px;
          color: #eb4f42;
        }

        .o2 {
          padding-top: 3px;
          font-size: 23px;
          color: #fabc04;
        }

        .g {
          padding-top: 3px;
          font-size: 23px;
          color: #4385f5;
        }

        .l {
          padding-top: 3px;
          font-size: 23px;
          color: #34a952;
        }

        .e {
          padding-top: 3px;
          font-size: 23px;
          color: #eb4f42;
        }
      }
      .body {
        height: 95%;
        width: 100%;
        // border: 0.5px solid lightgray;
        box-sizing: border-box;
        .otpVerification_Header {
          height: 160px;
          width: 100%;
          //   border: 0.5px solid lightgray;
          box-sizing: border-box;
          font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
          font-size: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .otpVerification_Inner {
            height: 30px;
            width: 250px;
            // border: 0.5px solid lightgray;
          }
          .sub_Inner_Suggestion {
            margin: 10px 0 0 0;
            font-size: 16px;
            // border: 0.5px solid lightgray;
            font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
          }
        }
        .sub_Header {
          height: 32px;
          width: 100%;
          //   border: 0.5px solid lightgray;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          //   flex-direction: column;
          align-items: flex-end;
          color: #202124;
          margin: 25px 0 0 0;
          .sub_Inner {
            font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
            font-size: 16px;
            height: 32px;
            width: 282px;
            border: 0.5px solid lightgray;
            border-radius: 20px;
          }
        }
        .otpVerification_Body {
          width: 100%;
          //   border: 0.5px solid lightgray;
          .input_Field {
            margin: 35px 0 0 0;
            width: 100%;
            .Em_InputField {
              width: 100%;
            }
          }
          .image {
            width: 100%;
          }

          .suggestion {
            width: 90%;
            height: 80px;
            // border: 0.5px solid lightgray;

            .SuggestionText1 {
              display: flex;
              justify-content: flex-start;
              //   flex-direction: column;
              width: 100%;
              margin: 0 0 10px 0px;
              font-family: "Google Sans", "Noto Sans Myanmar UI", arial,
                sans-serif;
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
              color: rgb(32, 33, 36);
            }
          }
          .bottons {
            display: flex;
            justify-content: space-between;
            margin: 20px 0px 0 30px;
            .tryAnotherButton {
              .ca_Button {
                font-family: "Google Sans", "Roboto", Arial, sans-serif;
                font-size: 15px;
                font-weight: 550;
                text-transform: none;
                color: #1a73e8;
              }
            }

            .next_Button {
              margin-right: 40px;
              .MuiButton-root {
                width: 100px;
                height: 40px;
                font-family: "Google Sans", "Roboto", Arial, sans-serif;
                background-color: #1a73e8;
                text-transform: none;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

.errorMessage {
  margin: 3px 0 5px 0;
  width: 100%;
  height: 20px;
  // border: 0.5px solid lightgray;
  font-family: "Roboto", "RobotoDraft", Helvetica, Arial, sans-serif;
  color: #d93025;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .errorText {
    margin: 0 0 0 8px;
    font-size: 13px;
  }
}
.error {
  //   border: 0.5px solid lightgray;
  height: 25px;
  width: 100%;
}
