@mixin flexcenter($Justice, $Align) {
  display: flex;
  justify-content: $Justice;
  align-items: $Align;
}

@mixin HW($Height, $Width) {
  height: $Height;
  width: $Width;
}

.signIn_Container {
  @include HW(100%, 100%);
  @include flexcenter(center, center);

  //   padding: 48px 40px 36px 40px;
  .sub_Container {
    @include HW(500px, 448px);
    border: 0.5px solid lightgray;
    border-radius: 5px;
    @include flexcenter(center, center);

    .inner_Container {
      @include HW(400px, 368px);
      //   border: 0.5px solid lightgray;
      box-sizing: border-box;
      .google_Header {
        @include HW(34px, 368px);
        // border: 0.5px solid lightgray;
        box-sizing: border-box;
        font-weight: 500;
        line-height: 20.0004px;
        letter-spacing: -1px;
        // font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;

        .G {
          color: #4385f5;
          font-size: 25px;
          font-family: "Roboto";
          line-height: 20px;
        }
      }
      .body {
        @include HW(75%, 368px);

        // border: 0.5px solid lightgray;
        box-sizing: border-box;
        .signIn_Header {
          @include HW(47px, 368px);

          //   border: 0.5px solid lightgray;
          box-sizing: border-box;
          font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
          font-size: 24px;
          @include flexcenter(center, flex-end);

          .signIn_Inner {
            @include HW(30px, 100px);
          }
        }
        .sub_Header {
          @include HW(32px, 368px);

          //   border: 0.5px solid lightgray;
          box-sizing: border-box;
          @include flexcenter(center, flex-end);

          color: #202124;
          .sub_Inner {
            font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
            font-size: 16px;
            height: auto;
            width: auto;
            color: #202124;
          }
        }
        .signIn_Body {
          width: 100%;
          .input_Field {
            margin: 30px 0 0 0;
            width: 100%;
            .Em_InputField {
              width: 100%;
            }
          }
          .forget_email {
            @include HW(32px, 100%);

            // border: 0.5px solid lightgray;
            @include flexcenter(flex-start, none);

            letter-spacing: -1;
            .f_email {
              font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
              font-size: 14px;
              font-weight: 550;
              text-transform: none;
              color: #1a73e8;
            }
            .MuiButton-text {
              padding: 0px;
            }
          }
          .suggestion_Text {
            font-family: "roboto", "Noto Sans Myanmar UI", arial, sans-serif;
            font-size: 14px;
            margin: 50px 0 0 0;
            width: 95.5%;
          }
          .learnmore_Button {
            @include flexcenter(flex-start, none);

            height: 18px;
            .lm_Button {
              font-family: "Google Sans", "Roboto", Arial, sans-serif;
              font-size: 15px;
              font-weight: 550;
              text-transform: none;
              color: #1a73e8;
            }
            .MuiButton-text {
              padding: 0px;
            }
          }
          .bottons {
            @include flexcenter(space-between, none);

            margin: 50px 0 0 0;
            .create_Account {
              .ca_Button {
                font-family: "Google Sans", "Roboto", Arial, sans-serif;
                font-size: 15px;
                font-weight: 550;
                text-transform: none;
                color: #1a73e8;
              }
            }
            .next_Button {
              .MuiButton-root {
                @include HW(40px, 100px);

                font-family: "Google Sans", "Roboto", Arial, sans-serif;
                background-color: #1a73e8;
                text-transform: none;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

.errorMessage {
  margin: 3px 0 5px 0;
  @include HW(20px, 100%);
  // border: 0.5px solid lightgray;
  font-family: "Roboto", "RobotoDraft", Helvetica, Arial, sans-serif;
  color: #d93025;
  @include flexcenter(flex-start, center);

  .errorText {
    margin: 0 0 0 8px;
    font-size: 13px;
  }
}
